layout {

    focus-ring {
        active-color   "#ecbe96"
        inactive-color "#161310"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ecbe96"
        inactive-color "#161310"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ecbe96"
        inactive-color "#8b6644"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ecbe9680"
    }
}

recent-windows {
    highlight {
        active-color "#ecbe96"
        urgent-color "#ffb4ab"
    }
}
