layout {

    focus-ring {
        active-color   "#8ad6b6"
        inactive-color "#0f1512"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#8ad6b6"
        inactive-color "#0f1512"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#8ad6b6"
        inactive-color "#00513b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#8ad6b680"
    }
}

recent-windows {
    highlight {
        active-color "#8ad6b6"
        urgent-color "#ffb4ab"
    }
}
